{% extends "navbar.html" %}
{% load static %}

{%  block body %}
<div class="container">
    <div class="row">
        {% for bus in page_obj %}
        <div class="col-md-3 mb-4"> <!-- Adjust column width to fit your grid layout -->
            <div class="card">
                <div class="card-body">
                    <!-- <h5 class="card-title">Bus ID: {{ bus.bus_id }}</h5> -->
                    <p class="card-text"><strong>Bus Number:</strong> {{ bus.bus_number }}</p>
                    <p class="card-text"><strong>Capacity:</strong> {{ bus.capacity }}</p>
                    {% for route in bus.routes.all %}
                    <p class="card-text"><strong>Route:</strong> {{ route.start_point.location_name }} to {{route.end_point.location_name }}</p>
                    <p class="card-text"><strong>Timing:</strong> {{ route.timing }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ route.price }}</p>
                    {% if user %}
                    <a href="{% url 'Bus_booking' route.route_id user.user_id %}" class="btn btn-warning">Book Now</a>
                    {% else %}
                    <a href="{% url 'login' %}?next={% url 'user_Buses' %}" class="btn btn-warning">Book Now</a>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination controls -->
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock %}